<body>
  <div class="coconut-container">
    <div class="coconut-content">
      <h1 class="coconut-text">coconut.</h1>
      <p class="coconut-description-white">
        Connect with friends and the world around you on Coconut.
      </p>
    </div>

    <form #form="ngForm" (ngSubmit)="login(form)" class="side-rectangle">
      <div class="input-container">
        <input name="email" ngModel type="text" placeholder="E-mail" />
      </div>
      <div class="input-container">
        <input name="password" ngModel type="password" placeholder="Senha" />
      </div>
      <div class="button-container">
        <button type="submit" [disabled]="form.invalid || form.pending" class="login-button"
          onclick="login()">Login</button>
        <p class="forgot-password">Esqueceu a senha?</p>
        <button class="register-button" onclick="openModal()">
          Nova Conta
        </button>
        <div class="space-below"></div>
      </div>
    </form>
  </div>
  <div class="modal" id="myModal">
    <form #form="ngForm">
      <div class="modal-content">
        <!-- Conteúdo da modal -->
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 class="coconut-text-modal">coconut.</h2>
        <!-- Substituído "Create new account" por "coconut." -->
        <div class="input-container-row">
          <input name="fname" type="text" placeholder="Full Name" id="fullName" />
        </div>
        <div class="input-container">
          <input name="lname" type="date" id="dateOfBirth" placeholder="Date of Birth" max="" required />
        </div>
        <div class="input-container">
          <input type="text" placeholder="E-mail or Phone Number" id="emailOrPhone" />
        </div>
        <div class="input-container">
          <input type="password" placeholder="Password" id="password" />
        </div>
        <div class="button-container">
          <button class="register-button" onclick="register()">Register</button>
          <p id="errorMessage" class="error-message">All fields are required.</p>
        </div>
        <div class="modal-footer"></div>
      </div>
    </form>
  </div>
</body>

<section class="register">
  <div class="header">
    <h3>Sign Up</h3>
    <p>It's quick and easy</p>
  </div>

  <div class="body">
    <form #form="ngForm">
      <div class="user_name">
        <input type="text" placeholder="FirstName" name="fname" ngModel>
        <input type="text" placeholder="LastName" name="lname" ngModel>
      </div>

      <div class="email_password">
        <input type="text" placeholder="Email" name="email" ngModel>
        <input type="text" placeholder="Image Url" name="avatar" ngModel>
        <input type="password" placeholder="Password" name="password" ngModel>
      </div>

      <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us and can opt out at any time.</p>

      <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Sign Up</button>
    </form>
  </div>
</section>

<!-- <mat-card class="login__header__right__card">
  <mat-card-content class="login__header__right__card__content">
    <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
      <input name="email" ngModel placeholder="Email address or phone number" required type="text">
      <input name="password" ngModel placeholder="Password" required type="text">
      <button [disabled]="form.invalid || form.pending"
        class="login-button"
        *ngIf="!form.pending"
        type="submit">Log In
      </button>
    </form>
    <a>Forgotten account?</a>
    <hr>
    <button class="create-account" (click)="openRegister()">Create New Account</button>
  </mat-card-content>
</mat-card> -->